---
import { Image } from 'astro:assets'
import Layout from '../../layouts/Layout.astro'
import illustrationNotes from '../../assets/illustration-notes.webp'
import Thought from '../../components/Thought.astro'
import { getCollection } from 'astro:content'
import Note from '../../components/Note.astro'

const notes = (await getCollection('notes')).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
)

const thoughts = (await getCollection('thoughts')).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
)
---

<Layout isArticle>
  <section class="notes-section">
    <Image src={illustrationNotes} alt="Notes illustration" class="notes-illustration" />
    <h2 class="notes-header">Notes</h2>
    <div class="notes-list">
      {
        notes.map((note) => {
          return <Note note={note} compact />
        })
      }
    </div>
    <h2 class="notes-header thoughts-header">Thoughts</h2>
    <div class="thoughts-list">
      {
        thoughts.map((thought) => {
          return <Thought thought={thought} />
        })
      }
    </div>
  </section>
</Layout>

<style>
  .notes-section {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 48% 1fr;
    gap: 1rem;

    padding-top: 80px;
    padding-bottom: 80px;
  }

  .notes-illustration {
    width: 500px;
    height: auto;
  }

  .notes-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    text-align: end;
  }

  .thoughts-header {
    display: none;
  }

  .notes-list,
  .thoughts-list {
    display: grid;
    gap: 1rem;
    align-self: start;
  }

  .thoughts-list {
    grid-auto-rows: min-content;
  }

  @media (width <= 465px) {
    .notes-section {
      grid-template-columns: none;
    }

    .thoughts-header {
      display: block;
    }
  }
</style>
