* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  color: rgb(29, 29, 31);
  text-rendering: optimizelegibility;

  background-color: #fafafa;

  font-synthesis: none;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

section {
  max-width: 1024px;
  margin: 0 auto;
  padding-right: 4%;
  padding-left: 4%;
}

section h2:first-of-type,
.category-header {
  margin-top: 3rem;
  margin-bottom: 24px;
  font-size: 32px;

  @media (width <= 1068px) {
    margin-bottom: 20px;
    font-size: 28px;
  }

  @media (width <= 734px) {
    margin-bottom: 16px;
    font-size: 24px;
  }
}

.body-text {
  line-height: 1.5;
  color: #737373;
}

.body-text + .body-text {
  margin-top: 1.5em;
}

.body-text.marginless {
  margin-top: 0;
}

.inline-link {
  color: inherit;
  text-decoration-color: color(display-p3 0.732 0.732 0.732);
  text-underline-offset: max(0.1em, 2.5px);
  transition: text-decoration-color 0.2s ease-in-out;
}

.inline-link:hover {
  text-decoration-color: color(display-p3 0.392 0.392 0.392);
  opacity: initial;
}

.card {
  transition: filter 0.2s ease;
}

.card:hover {
  filter: contrast(95%);
}

.card:active {
  filter: contrast(90%);
}

.overlay {
  pointer-events: none;

  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: transparent;
}

/* MARK: View transitions */
::view-transition-old(root),
::view-transition-old(header):only-child {
  animation: blur-replace-out 0.2s ease-in-out forwards;
}

::view-transition-new(root),
::view-transition-new(header):only-child {
  opacity: 0;
  animation: blur-replace-in 0.3s 0.1s forwards;
}

/* MARK: Keyframes */
@keyframes blur-replace-out {
  0% {
    opacity: 1;
    filter: blur(0px);
    mix-blend-mode: plus-lighter;
  }
  100% {
    opacity: 0;
    filter: blur(4px);
    mix-blend-mode: plus-lighter;
  }
}

@keyframes blur-replace-in {
  0% {
    opacity: 0;
    filter: blur(4px);
    mix-blend-mode: plus-lighter;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    mix-blend-mode: plus-lighter;
  }
}
