article {
  line-height: 1.47;
  color: #595959;
  letter-spacing: -0.022em;
}

article p {
  -webkit-hyphens: auto;
  hyphens: auto;

  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-before: 4;
  hyphenate-limit-chars: 7 4 3;
  hyphenate-limit-last: always;
  -webkit-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  hyphenate-limit-zone: 8%;
}

article :is(p, ol, ul) {
  margin-bottom: 1em;
  margin-bottom: 1lh;
}

article b {
  font-variation-settings: 'wght' 500;
}

article h2 {
  margin-top: 3rem;
  margin-bottom: 16px;
}

article figure {
  font-size: 0.9em;
}

ol,
ul {
  list-style-position: inside;

  li + li {
    margin-top: 0.15em;
  }
}

figure:has(blockquote) {
  padding-right: 1em;
  padding-left: 1em;
}

blockquote > * {
  margin-bottom: 0 !important;
}

blockquote + p {
  margin-top: 0.3em;
  color: rgb(115, 115, 115);
}

article p > a {
  color: inherit;
}

cite a,
article p > a {
  color: inherit;
  text-decoration-style: wavy;
  text-decoration-thickness: 0.5px;
}

cite a:hover,
article p > a:hover {
  cursor: pointer;
  text-decoration-thickness: 1px;
}

.highlight {
  cursor: help;

  position: relative;

  padding: 1px 4px;
  border-radius: 3px;

  color: #ff8d26;

  background-color: #ffeee1;
  box-decoration-break: clone;

  webkit-box-decoration-break: clone;
}

.highlight:hover {
  background-color: #f8e7da;
}

.highlight::after {
  pointer-events: none;
  content: attr(data-hint);

  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(8px);

  display: none;

  min-width: 160px;
  max-width: 320px;
  padding: 6px 12px;
  border: 0.5px solid #cbc9c5;
  border-radius: 4px;

  font-size: 0.9rem;
  color: #4a4846;
  white-space: pre-line;

  background: #f7f5f2;
}

.highlight:hover::after {
  display: inline-block;
}
