---
import { Image } from 'astro:assets'
import holdingSomething from '../../assets/holding-something.webp'
import portrait from '../../assets/portrait-grays2-contrast22.webp'
---

<div class="about-container">
  <section class="about">
    <h2 class="font-medium">About</h2>
    <div class="portrait-container">
      <Image src={holdingSomething} alt="Holding something" class="holdingSomething" />
      <div class="portrait-hover-wrapper">
        <div class="hover-point"></div>
        <div class="hover-point"></div>
        <div class="hover-point"></div>
        <div class="hover-point"></div>
        <div class="hover-point"></div>
        <div class="hover-point"></div>
        <div class="hover-point"></div>
        <div class="hover-point"></div>
        <img
          class="portrait"
          src={portrait.src}
          width={portrait.width}
          height={portrait.height}
          alt="Photo of Ivan Esmantovich"
        />
      </div>
    </div>
    <p class="body-text">Hello!</p>
    <p class="body-text">
      I'm Ivan, software engineer, who likes to experiment with web technologies and
      <a class="inline-link" href="/notes">write about it</a>.
    </p>
    <p class="body-text">
      I'm currently working as a frontend developer at <a
        class="inline-link"
        href="https://kontur.ru"
        target="_blank"
        rel="noopener noreferrer">Kontur</a
      >, where i lead UX/UI engineering for <a
        class="inline-link"
        href="https://kontur.ru/talk"
        target="_blank"
        rel="noopener noreferrer">Kontur.Talk</a
      >, building the bridge between creative design and technical implementation, with a focus on
      performance, maintainability and accessibility.
    </p>
    <p class="body-text">I also like lifting weights, running, playing badminton and cooking.</p>
    <p class="body-text marginless">I'm currently based in Sochi 🌅</p>
    <p class="body-text">
      I was born in <a href="notes/norilsk" class="inline-link">Norilsk</a> and lived there for 15 years
      ❄️
    </p>
    <p class="body-text">
      You can write to me via <a href="mailto:mail@esmantovi.ch" class="inline-link">email</a> or
      <a class="inline-link" href="https://t.me/esmantovich" target="_blank">Telegram</a>.
    </p>
  </section>
</div>

<style>
  .about-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #d5d5d5;
    background-color: #fff;
  }

  section.about {
    h2 {
      margin-top: 0 !important;
    }
  }

  .portrait-container {
    position: relative;

    float: right;
    display: flex;

    width: 55%;
    margin-bottom: 12px;
    margin-left: 12px;
    padding-left: 12px;

    animation-name: portrait-scroll-fade;
    animation-fill-mode: both;
    animation-timeline: --portrait-timeline;
    view-timeline-name: --portrait-timeline;
    view-timeline-axis: block;

    animation-range: entry 0% exit 100%;
  }

  .holdingSomething {
    pointer-events: none;

    z-index: 2;

    display: block;

    width: 30%;
    height: auto;
    margin-top: 32%;

    object-fit: contain;
    filter: contrast(85%);

    transition: 0.5s ease;
  }

  .portrait-hover-wrapper {
    position: relative;
    z-index: 1;

    width: 70%;
    height: fit-content;
    margin-left: -4%;

    .portrait {
      display: block;

      width: 100%;
      height: auto;
      border: 0.5px solid #80808057;

      object-fit: contain;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);

      transition: 0.5s ease;
    }

    .hover-point {
      position: absolute;
      z-index: 2;

      width: calc(100% / 3);
      height: calc(100% / 3);

      background-color: transparent;
    }

    .hover-point:nth-child(1) {
      top: 0;
      left: 0;
    }
    .hover-point:nth-child(2) {
      top: 0;
      left: calc(100% / 3);
    }
    .hover-point:nth-child(3) {
      top: 0;
      right: 0;
    }
    .hover-point:nth-child(4) {
      top: calc(100% / 3);
      left: 0;
    }
    .hover-point:nth-child(5) {
      top: calc(100% / 3);
      right: 0;
    }
    .hover-point:nth-child(6) {
      bottom: 0;
      left: 0;
    }
    .hover-point:nth-child(7) {
      bottom: 0;
      left: calc(100% / 3);
    }
    .hover-point:nth-child(8) {
      right: 0;
      bottom: 0;
    }

    .hover-point:nth-child(1):hover ~ .portrait {
      transform-origin: right top;
      transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
      box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.3);
    }
    .hover-point:nth-child(2):hover ~ .portrait {
      transform-origin: center top;
      transform: perspective(1000px) rotateX(10deg);
      box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
    }
    .hover-point:nth-child(3):hover ~ .portrait {
      transform-origin: left top;
      transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
      box-shadow: -15px 15px 50px rgba(0, 0, 0, 0.3);
    }
    .hover-point:nth-child(4):hover ~ .portrait {
      transform-origin: left center;
      transform: perspective(1000px) rotateY(-10deg);
      box-shadow: 15px 5px 50px rgba(0, 0, 0, 0.3);
    }
    .hover-point:nth-child(5):hover ~ .portrait {
      transform-origin: right center;
      transform: perspective(1000px) rotateY(10deg);
      box-shadow: -15px 5px 50px rgba(0, 0, 0, 0.3);
    }
    .hover-point:nth-child(6):hover ~ .portrait {
      transform-origin: right bottom;
      transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
      box-shadow: 15px -15px 50px rgba(0, 0, 0, 0.3);
    }
    .hover-point:nth-child(7):hover ~ .portrait {
      transform-origin: center bottom;
      transform: perspective(1000px) rotateX(-10deg);
      box-shadow: 0 -15px 50px rgba(0, 0, 0, 0.3);
    }
    .hover-point:nth-child(8):hover ~ .portrait {
      transform-origin: left bottom;
      transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
      box-shadow: -15px -15px 50px rgba(0, 0, 0, 0.3);
    }
  }

  .holdingSomething:has(+ .portrait-hover-wrapper > .hover-point:nth-child(1):hover) {
    transform-origin: right top;
    transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg) translateX(4%);
  }

  .holdingSomething:has(+ .portrait-hover-wrapper > .hover-point:nth-child(2):hover) {
    transform-origin: center top;
    transform: perspective(1000px) rotateX(10deg) translateX(-6%);
  }

  .holdingSomething:has(+ .portrait-hover-wrapper > .hover-point:nth-child(3):hover) {
    transform-origin: left top;
    transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg) translateX(5%);

    @media (width <= 734px) {
      transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg) translateX(4%);
    }
  }

  .holdingSomething:has(+ .portrait-hover-wrapper > .hover-point:nth-child(4):hover) {
    transform-origin: left center;
    transform: perspective(1000px) rotateY(-10deg);
  }

  .holdingSomething:has(+ .portrait-hover-wrapper > .hover-point:nth-child(5):hover) {
    transform-origin: right center;
    transform: perspective(1000px) rotateY(10deg) translateX(-14%);

    @media (width <= 1068px) {
      transform: perspective(1000px) rotateY(10deg) translateX(-12%);
    }

    @media (width <= 850px) {
      transform: perspective(1000px) rotateY(10deg) translateX(-10%);
    }
  }

  .holdingSomething:has(+ .portrait-hover-wrapper > .hover-point:nth-child(6):hover) {
    transform-origin: right bottom;
    transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg) translateX(10%);

    @media (width <= 734px) {
      transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg) translateX(8%);
    }
  }

  .holdingSomething:has(+ .portrait-hover-wrapper > .hover-point:nth-child(7):hover) {
    transform-origin: center bottom;
    transform: perspective(1000px) rotateX(-10deg) translateX(-5%);

    @media (width <= 734px) {
      transform: perspective(1000px) rotateX(-10deg) translateX(-4%);
    }
  }

  .holdingSomething:has(+ .portrait-hover-wrapper > .hover-point:nth-child(8):hover) {
    transform-origin: left bottom;
    transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
  }

  @media (width <= 1068px) {
    .portrait-container {
      width: 50%;
    }
  }

  @media (width <= 734px) {
    .portrait-container {
      padding-left: 0px;
    }
  }

  @keyframes portrait-scroll-fade {
    0% {
      opacity: 0;
      filter: blur(12px);
    }

    25% {
      opacity: 1;
      filter: blur(0px);
    }

    75% {
      opacity: 1;
      filter: blur(0px);
    }

    100% {
      opacity: 0;
      filter: blur(12px);
    }
  }
</style>
