<section>
  <hgroup>
    <h2 class="font-medium header-with-description">Blogroll</h2>
    <p class="description"><i>Great People of the Web</i></p>
  </hgroup>
  <ul class="blogroll-list">
    <li class="blogroll-list-item">
      <a class="inline-link blogroll-link" href="https://leanrada.com/" target="_blank">Lean Rada</a
      >
      <div class="favorite-read">
        Favorite read: <a
          class="inline-link"
          href="https://leanrada.com/notes/css-sprite-sheets/"
          target="_blank">CSS sprite sheet animations</a
        >
      </div>
    </li>
    <li class="blogroll-list-item">
      <a class="inline-link blogroll-link" href="https://taylor.town/" target="_blank"
        >Taylor Troesh</a
      >
      <div class="favorite-read">
        Favorite read: <a class="inline-link" href="https://taylor.town/10-minutes" target="_blank"
          >10 Minutes is 1% of Your Day</a
        >
      </div>
    </li>
    <li class="blogroll-list-item">
      <a class="inline-link blogroll-link" href="https://lmnt.me/" target="_blank">Louie Mantia</a>
      <div class="favorite-read">
        Favorite read: <a
          class="inline-link"
          href="https://lmnt.me/blog/make-a-damn-website.html"
          target="_blank">Make a Damn Website</a
        >
      </div>
    </li>
    <li class="blogroll-list-item">
      <a class="inline-link blogroll-link" href="https://heydonworks.com/" target="_blank"
        >Heydon Pickering</a
      >
      <div class="favorite-read">
        Favorite read: <a
          class="inline-link"
          href="https://heydonworks.com/article/how-i-accidentally-killed-several-ux-designers/"
          target="_blank">How I Accidentally Killed Several UX Designers</a
        >
      </div>
    </li>
    <li class="blogroll-list-item">
      <a class="inline-link blogroll-link" href="https://ia.net/news" target="_blank">iA</a>
      <div class="favorite-read">
        Favorite read: <a class="inline-link" href="https://ia.net/topics/on-icons" target="_blank"
          >On Icons</a
        >
      </div>
    </li>
    <li class="blogroll-list-item">
      <a class="inline-link blogroll-link" href="https://dynomight.net" target="_blank">Dynomight</a
      >
      <div class="favorite-read">
        Favorite read: <a
          class="inline-link"
          href="https://dynomight.net/2021/01/25/how-to-run-without-all-the-agonizing-pain/"
          target="_blank">How to run without all the pesky agonizing pain</a
        >
      </div>
    </li>
  </ul>
</section>

<style>
  .blogroll-list {
    list-style: none;
  }

  .blogroll-list-item + .blogroll-list-item {
    margin-top: 12px;
  }

  .header-with-description {
    margin-bottom: 8px;
  }

  .description {
    margin-bottom: 24px;
    color: rgb(115, 115, 115);
  }

  .blogroll-link {
    font-size: 1.2em;
    font-variation-settings: 'wght' 400;
  }

  .favorite-read {
    margin-top: 4px;
    font-size: 0.8em;
    color: rgb(110, 110, 110);
  }
</style>
