---
import CvBlock from '../CvBlock.astro'
---

<section class="cv-section">
  <hgroup>
    <h2 class="font-medium header-with-description">Résumé</h2>
    <p class="description"><i>For recruiters</i></p>
  </hgroup>
  <CvBlock />
</section>

<style>
  .cv-section {
    overflow-x: auto;
  }

  .header-with-description {
    margin-bottom: 8px;
  }

  .description {
    margin-bottom: 24px;
    color: rgb(115, 115, 115);
  }
</style>
