---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import illustrationResume from '../assets/illustration-resume.webp'
import CvBlock from '../components/CvBlock.astro'
---

<Layout isArticle>
  <section class="resume-section">
    <h2 class="small-screen header">Résumé</h2>
    <Image src={illustrationResume} alt="Resume illustration" class="resume-illustration" />
    <h1 class="resume-header">Résumé</h1>
    <CvBlock />
  </section>
</Layout>

<style>
  .resume-section {
    gap: 1rem;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .resume-illustration {
    float: left;

    aspect-ratio: 1041/1450;
    width: 55%;
    height: auto;
    padding-right: 30px;
  }

  .resume-header {
    margin-top: 0;
    margin-bottom: 120px;
    text-align: end;
  }

  .small-screen {
    display: none;
  }

  @media (width <= 768px) {
    .resume-section {
      padding-top: 10px;
      padding-bottom: 120px;
    }

    .small-screen {
      display: block;
    }

    .resume-illustration {
      float: none;
      width: 450px;
      margin-bottom: 16px;
      padding: 0;
    }

    .resume-header {
      display: none;
    }
  }
</style>
