---
import pdfIcon from '../assets/pdf-icon.webp'
import CloudDownloadOutline from '../assets/cloud-download-outline.svg'
---

<ul class="cv-list body-text">
  <li class="cv-list-item">
    <span class="cv-item-title">Status</span><span class="status-value"
      ><span class="light light-available"></span>Open to new roles</span
    >
  </li>
  <li class="cv-list-item">
    <span class="cv-item-title">Contact methods</span><span
      ><a href="mailto:mail@esmantovi.ch">mail@esmantovi.ch</a> or <a
        href="https://t.me/esmantovich"
        target="_blank">t.me/esmantovich</a
      ></span
    >
  </li>
  <li class="cv-list-item">
    <span class="cv-item-title">GitHub link</span><span
      ><a href="https://github.com/ivanesmantovich" target="_blank" rel="noopener noreferrer"
        >github.com/ivanesmantovich</a
      ></span
    >
  </li>
  <li class="cv-list-item">
    <span class="cv-item-title">Résumé link</span><span
      ><a href={'/resume'}>esmantovi.ch/resume</a></span
    >
  </li>
  <li class="resume-download">
    <a class="resume-download-button" href="esmantovich_cv.pdf" download>
      <img src={pdfIcon.src} alt={'PDF Icon'} width={50} />
      <span class="resume-button-text">
        <span class="resume-button-filename">esmantovich_cv.pdf</span>
        <span class="resume-button-info">08.08.2025 – 27 KB</span>
      </span>
      <CloudDownloadOutline width={24} height={24} class="cloud-download-icon" stroke-width={12} />
    </a>
  </li>
</ul>

<style>
  .cv-list {
    list-style: none;
  }

  .cv-list a {
    color: #077aff;
    text-decoration: none;
  }

  .cv-list-item a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.5px;
  }

  .cv-list-item {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: minmax(9.45em, auto) 1fr;
  }

  .cv-list-item + .cv-list-item {
    margin-top: 3px;
  }

  .resume-download {
    display: inline-block;
    width: max-content;
    margin-top: 12px;
  }

  .status-value {
    display: flex;
    align-items: center;
  }

  .light {
    display: inline-block;
    flex-shrink: 0;

    width: 13px;
    height: 13px;
    margin-top: 1px;
    margin-right: 6px;
    border-radius: 50%;
  }

  .light-available {
    background-color: #29c93f;
  }

  .resume-download-button {
    display: flex;
    gap: 16px;
    align-items: center;

    width: fit-content;
    margin-left: -6px;
    padding: 6px;
    border: 0.5px solid #d5d5d5;
    border-radius: 10px;

    background-color: #fff;

    transition: filter 0.2s ease;
  }

  @media (pointer: fine) {
    .resume-download-button:hover {
      filter: contrast(95%);
    }
  }

  .resume-download-button:active {
    filter: contrast(90%);
  }

  .resume-button-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: normal;
  }

  .resume-button-filename {
    color: #000000;
  }

  .resume-button-info {
    font-size: 0.8rem;
    color: #8a8a8d;
  }

  .cloud-download-icon {
    flex-shrink: 0;
    margin-left: 12px;
  }

  @media (width <= 768px) {
    .cv-list-item {
      grid-template-columns: none;
    }

    .cv-item-title {
      font-variation-settings: 'wght' 400;
    }
  }
</style>
