---
interface Props {
  navigationOpened?: boolean
}

const { navigationOpened = false } = Astro.props
---

<nav>
  <a href="/navigation">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
      ><path
        d="M48.17 113.34A32 32 0 0032 141.24V438a32 32 0 0047 28.37c.43-.23.85-.47 1.26-.74l84.14-55.05a8 8 0 003.63-6.72V46.45a8 8 0 00-12.51-6.63zM212.36 39.31A8 8 0 00200 46v357.56a8 8 0 003.63 6.72l96 62.42A8 8 0 00312 466V108.67a8 8 0 00-3.64-6.73zM464.53 46.47a31.64 31.64 0 00-31.5-.88 12.07 12.07 0 00-1.25.74l-84.15 55a8 8 0 00-3.63 6.72v357.46a8 8 0 0012.52 6.63l107.07-73.46a32 32 0 0016.41-28v-296a32.76 32.76 0 00-15.47-28.21z"
      ></path></svg
    >
  </a>
  {
    !navigationOpened && (
      <div class="navigation-items">
        <h2 class="home">Home</h2>
        <h2 class="notes">Notes</h2>
        <h2 class="projects">Projects</h2>
        <h2 class="about">About</h2>
      </div>
    )
  }
</nav>

<style>
  nav {
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    gap: 1.5rem;

    width: min-content;
    margin: 0 auto;
    margin-bottom: 32px;
    border-radius: 32px;

    background: rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

  a {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 58px;
    height: 58px;
    padding: 0.5rem;
    border-radius: 32px;

    font-weight: 500;
    color: inherit;
    text-decoration: none;
  }

  svg {
    width: 34px;
    height: 34px;
    fill: #ffffff;
  }

  .navigation-items {
    z-index: 10000;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0px;
    height: 0px;
  }

  .navigation-items h2 {
    font-size: 2px;
    font-weight: 400;
    color: transparent;
  }

  .home {
    view-transition-name: home;
  }

  .notes {
    view-transition-name: notes;
  }

  .projects {
    view-transition-name: projects;
  }

  .about {
    view-transition-name: about;
  }
</style>
