---
interface Props {
  title?: string
  text?: string
  date?: string
  id?: string
}

const { title = '', text = '', date = '', id = '' } = Astro.props
---

<!-- TODO: Подкрутить типографию (line-height, letter-spacing и т.д) -->
<a href={`/preview/notes/${id}/`} class="note" data-astro-prefetch>
  <div class="yellow-part"></div>
  <div class="dotted-line"></div>

  <div class="note-content">
    <h3 class="title">{title}</h3>
    <div class="info">
      <p class="text">{text}</p>
      <p class="date">{date}</p>
    </div>
  </div>
</a>
