---
import { formatDate } from '../utils/date'
import NoteLinkButtons from './NoteLinkButtons.astro'

interface Props {
  date: string
  title: string
  preview: string
}

const { date, title, preview } = Astro.props
---

<span class="note-preview-date">{formatDate(date)}</span>
<h1 class="font-regular note-preview-title">{title}</h1>
<p class="note-preview-description">{preview}</p>

<style>
  .note-preview-date {
    display: block;

    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    color: #6e6e73;
    letter-spacing: -0.016em;
  }

  .note-preview-title {
    display: block;

    padding-top: 6px;

    font-size: 32px;
    font-weight: 700;
    line-height: 1.125;
    color: rgb(29, 29, 31);
    letter-spacing: 0.004em;
  }

  .note-preview-description {
    margin-bottom: 0;
    padding-top: 6px;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.47;
    color: #595959;
    letter-spacing: -0.022em;
  }
</style>
