<article>
  <h3 class="name">Ivan Esmantovich</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore soluta dolor repellat at, modi
    corporis ipsa aut? Aperiam consequatur iusto porro molestias veritatis? Exercitationem delectus
    harum ea laudantium. Quisquam, voluptatem!
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore soluta dolor repellat at, modi
    corporis ipsa aut? Aperiam consequatur iusto porro molestias veritatis? Exercitationem delectus
    harum ea laudantium. Quisquam, voluptatem!
  </p>
</article>

<style>
  article {
    --shadow-color: 0deg 0% 63%;

    padding: 2.5rem 2rem;
    border: 0.5px solid oklch(92.8% 0.006 264.531);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 8px 8px 16px 0px;
  }

  p + p {
    margin-top: 1rem;
  }

  .name {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
  }
</style>
