---
interface Source {
  href: string
  label: string
}

export interface Props {
  sources: Source[]
}

const { sources } = Astro.props
---

<span class="sources" tabindex="0">
  <span class="sources-text"><slot /></span>
  <span class="sources-tooltip">
    {
      sources.map((source) => (
        <a href={source.href} target="_blank" rel="noopener noreferrer">
          <span class="link-number">{sources.indexOf(source) + 1}.</span>{' '}
          <span class="link-text">{source.label}</span>
        </a>
      ))
    }
  </span>
</span>

<style>
  .sources {
    position: relative;
  }

  .sources-text {
    cursor: pointer;

    padding: 1px 4px;
    border-radius: 2px;

    color: #0288ff;

    background-color: #deedff;
    box-decoration-break: clone;
    outline: none;

    webkit-box-decoration-break: clone;
  }

  .sources-text:hover,
  .sources-text:focus {
    background-color: #cce0ff;
  }

  .sources-tooltip {
    display: none;
  }

  .sources-tooltip a {
    display: inline-block;
    color: #0288ff;
    text-decoration: none;
  }

  .sources-tooltip a .link-text {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.5px;
  }

  .sources-tooltip a:hover .link-text {
    text-decoration-thickness: 1px;
  }

  .sources-tooltip a + a {
    margin-top: 0.5em;
  }

  .sources:focus .sources-tooltip,
  .sources:focus-within .sources-tooltip {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(8px);

    display: block;

    min-width: 180px;
    max-width: 360px;
    padding: 6px 12px;
    border: 0.5px solid #9fcbfe;
    border-radius: 4px;

    font-size: 0.9rem;
    color: #4a4846;
    white-space: pre-line;

    background: #e1edfb;
  }
</style>
