---
import { ClientRouter } from 'astro:transitions'
import '../styles/global.css'
import '../styles/typography.css'
import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>esmantovi.ch</title>

    <ClientRouter />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  a:hover {
    opacity: 0.87;
  }

  a:active {
    opacity: 0.3;
  }

  h2,
  .clickable-header {
    margin-top: 3rem;
    margin-bottom: 16px;
  }

  @media (width <= 1068px) {
    body {
      font-size: 16px;
    }
  }
</style>
